$blackColor: #0d0d0d;
$whiteColor: #f2f2f2;
$yellowColor: #f2cc0f;
$greenColor: #8cbf3f;
$pincColor: #9453a6;
$medSize: 800px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container {
  min-height: 87vh;
  background-color: #8cbf3f;
}
html {
  scroll-behavior: smooth;
}
%content-width {
  width: 80%;
}

%full-width {
  width: 100vw;
}

p {
  display: block;
  font-weight: 300;
  font-size: 1em;
}

a {
  text-decoration: none;
}

%pic-link-gallery {
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: sub;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: $whiteColor;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

.cursor {
  cursor: pointer;
}

main {
  min-height: 87vh;
  background-color: $greenColor;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%FAQ-Box {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.5em;
  max-width: 87vw;
  background-color: $yellowColor;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  justify-content: center;
  align-items: center;
}

@mixin nav_tablet_view() {
  @media (max-width: $medSize) {
    @content;
  }
}
